body {
    background: #efefef;
}
.wrapper{
    height: 100vh;
}
.form-signin img{
    width: 150px;
    margin: auto;
}
.form-signin {
    padding: 15px 35px 45px;
    margin: 0 auto;
}

.form-control, .form-control:focus {
    font-size: 16px;
    box-sizing: border-box;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: white;
    padding: 10px 40px 10px 50px;
}
.form-control::placeholder, .control-label{
    color: rgba(255, 255, 255, 0.5);
}
.form-signin-heading {
    color: rgb(255, 255, 255);
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon img {
    position: absolute;
    top:12px;
    left: 18px;
    width: 20px;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.form-signin .forgot-password {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -8px;
    margin-bottom: 30px;
    font-size: 12px;
}
.btn-white, .btn-white:hover, .btn-white:focus-visible, .btn-white:active {
    background-color: #fff !important;
    width: 100%;
    border: none;
}
.account-signup {
    max-width: 380px;
    padding: 15px 35px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
}