.otp-input {
    width: 45px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    border: none;
    background: linear-gradient(193deg, rgba(40, 40, 120, 1) 0%, rgba(117, 3, 132, 1) 100%) !important;
    border-radius: 10px;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.swal2-popup.swal2-modal{
    border-radius: 20px;
}